<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZWehif0Q-q32QNadvF2fd87cHSi62aaM</string>
	<key>GCM_SENDER_ID</key>
	<string>651554552339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coldfrey.superfoods</string>
	<key>PROJECT_ID</key>
	<string>superfoods-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>superfoods-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651554552339:ios:e7d5b741d486da1be59de6</string>
</dict>
</plist>